.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background: linear-gradient(#fafbfb 0%, #51aaa6 48%, #82f0f0 100%);
}

.App .card {
  border-color: #217ca3;
  border-width: 2px;
  border-radius: 10px;
  width: 80%;
  background: linear-gradient(
    178deg,
    rgba(255, 255, 255, 0.51) 14.9%,
    rgba(247, 248, 248, 0.73) 80%
  );
  display: block;
  margin: 0 auto;

  margin-top: 30px;
}
.github_link {
  margin-bottom: 400px;
}
.col-sm-6 {
  padding: 12px;
}
.city {
  color: #212aa3;
  font-weight: bold;
  font-size: 32px;
}

.my_location_button button {
  display: block;
  margin: 0 auto;
  background-color: #9efccf;
  color: #217ca3;
  font-family: sans-serif;
  border-radius: 27px;
  border: 0px;
  margin-top: 15px;
  max-width: 50%;
  padding: 10px 10px;
  font-size: 18px;
  box-shadow: 1px 2px 2px rgba(94, 92, 92, 0.7);
}
.my_location_button button:hover {
  background-color: #212aa3;
  transition: all 200ms ease-in-out 2ms;
  color: white;
}
label {
  color: #217ca3;

  word-break: break-all;
  font-size: 18px;
  font-weight: bold;
}
