.Forecast .forecastTempMax {
  font-weight: bold;
  font-size: 12px;
}
.Forecast .forecastTempMin {
  font-size: 12px;
}
.Forecast .row {
  margin: 2px;
  display: flex;
  justify-content: center;
}
.Forecast .column {
  border: 1px solid #212aa3;
  border-radius: 0px 20px;
  margin: 5px;
  background-color: rgb(137, 250, 177);
}
