.Search h1 {
  font-size: 28px;
  color: #217ca3;
}
.Search h2 {
  font-size: 24px;

  font-weight: bold;
  color: rgb(7, 125, 48);
  text-shadow: 2px 1px 1px #ffffff;
}
.Search h3 {
  font-size: 20px;
}
.Search p {
  color: #217ca3;
}
.Search .degrees {
  font-size: 24px;
}

.Search ul {
  list-style: none;
  padding: 5px;
}
.Search .container {
  margin: 5px;
}
.Search .enter_city {
  border-width: 3px;
  border-color: #217ca3;
  border-radius: 5px;
  width: 65%;
  background-color: #ffffff;
  color: #217ca3;
  margin: 24px 4px 4px 0px;
  padding: 8px 4px;
  box-shadow: 1px 2px 2px rgba(94, 92, 92, 0.7);
}

.Search .go {
  background-color: #217ca3;
  color: white;
  border: none;
  padding: 2px 10px;
  border-radius: 15px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 1px 2px 2px rgba(94, 92, 92, 0.7);
}
.Search .go:hover {
  background-color: #212aa3;
}
